.navContainer {
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: #8a8585;
    opacity: 0.6;
    align-items: center;
}

.navContainer img {
    height: 50px;
    width: 100px;
    padding: 10px;
}

#homePic {
    height: 50px;
    width: 50px;
}

#contactUsPic {
    height: 48px;
    width: 150px;
}


/* .opacityNavContainer {} */

.navContainer p {
    padding: 6px;
    font-weight: bold;
    color: blue;
    /* opacity: 2; */
}